---
import siteConfig from "../siteConfig";
import BigSquare, { size as bigSquareSize } from "./BigSquare.astro";
import Graph from "./Graph.astro";

export const width = 430;
export const height = 270;
export const rootId = "hhh_how4";

const k8sCluster = `${siteConfig.base}/images/how-04-k8s-cluster.png`;
const auditLogs = `${siteConfig.base}/images/how-04-audit-logs.png`;

const { padding = 0 } = Astro.props;
const paddedWidth = width + padding * 2;
const paddedHeight = height + padding * 2;
---

<div class="hhh_heroRoot" id={rootId}>
  <div id="hhh_bigSquareArea" class="hhh_all3dObjects hhh_main3dTransform">
    <BigSquare showGrid={true} />
    <Graph class="hhh_graph1" graphId={"graph1"} color={0} />
    <Graph class="hhh_graph2" graphId={"graph2"} color={1} />
    <Graph class="hhh_graph3" graphId={"graph3"} color={2} />
  </div>
  <div
    id="hhh_bigSquareArea"
    class="hhh_all3dObjects hhh_main3dTransform hhh_glow"
  >
    <Graph
      class="hhh_graphGlow hhh_graph1"
      graphId={"graph1"}
      color={0}
      showFill={false}
    />
    <Graph
      class="hhh_graphGlow hhh_graph2"
      graphId={"graph2"}
      color={1}
      showFill={false}
    />
    <Graph
      class="hhh_graphGlow hhh_graph3"
      graphId={"graph3"}
      color={2}
      showFill={false}
    />
  </div>
  <div class="hhh_flatContent hhh_wDropShadow">
    <img class="hhh_auditLogs" src={auditLogs} />
    <img class="hhh_k8sImage" src={k8sCluster} />
  </div>

  <style
    lang="scss"
    define:vars={{
      bigSquareSize: `${bigSquareSize}px`,
      padding: `${padding}px`,
      paddedWidth: `${paddedWidth}px`,
      paddedHeight: `${paddedHeight}px`,
    }}
  >
    :global(*) {
      transform-origin: 50% 50%;
      user-select: none;
    }
    .hhh_heroRoot {
      :global(*) {
        transform-style: preserve-3d;
      }
      --moderateShadow: drop-shadow(0px 3px 6px rgba(14, 16, 21, 0.2))
        drop-shadow(0px 10px 20px rgba(14, 16, 21, 0.3));

      transform-origin: 0 0;
      width: var(--paddedWidth);
      height: var(--paddedHeight);
      position: relative;

      .hhh_wDropShadow {
        filter: drop-shadow(0px 2.13312px 4.26623px rgba(14, 16, 21, 0.2))
          drop-shadow(0px 7.11039px 14.2208px rgba(14, 16, 21, 0.3))
          drop-shadow(0px 2.13312px 4.26623px rgba(14, 16, 21, 0.2))
          drop-shadow(0px 7.11039px 14.2208px rgba(14, 16, 21, 0.3));
      }
      .hhh_auditLogs {
        position: absolute;
        right: 0;
        top: 43px;
        width: 160px;
      }
      .hhh_k8sImage {
        position: absolute;
        left: 0px;
        top: 188px;
        width: 219px;
      }
    }
    .hhh_main3dTransform {
      position: absolute;
      left: calc(58px + var(--padding));
      top: calc(20px + var(--padding));
      transform: rotateX(57deg) rotateY(0) rotateZ(-45deg) scale(0.95);
      transform-origin: 50% 50%;
      width: var(--bigSquareSize);
      height: var(--bigSquareSize);
    }
    .hhh_flatContent {
      position: absolute;
      top: var(--padding);
      left: var(--padding);
      right: var(--padding);
      bottom: var(--padding);
      transform: translateZ(500px);
    }
    .hhh_graphGlow {
      opacity: 1;
      filter: saturate(1.1) brightness(1.5) blur(4px) ;
    }
  </style>
</div>
