---
export interface Props {
  title: string;
  baseWidth: number;
  baseHeight: number;
  padding: number;
  rootId: string;
}

const { title, baseWidth, baseHeight, padding, rootId } = Astro.props;

console.log(`${Astro?.url?.pathname} width:`, baseWidth + 2 * padding);
console.log(`${Astro?.url?.pathname} height:`, baseHeight + 2 * padding);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script>
      // Sets the class of the HTML element using vanilla JavaScript
      document.documentElement.className +=
        window.self == window.top ? " not-framed" : " framed";
    </script>
  </head>
  <body
    id="main"
    data-width={baseWidth + 2 * padding}
    data-height={baseHeight + 2 * padding}
    data-root-id={rootId}
    style={{ width: "100%" }}
  >
    <slot />
    <style is:global>
      html,
      body {
        position: fixed;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background: transparent;
        overflow: visible;
      }
      .not-framed body {
        background-color: #2a2e37; /* Fill 1 */
        background-color: #171a21; /* Fill 0 */
        background: radial-gradient(
          circle at top right,
          #46525d,
          #25294f,
          #171a21,
          #171a21
        );
      }
    </style>
    <script>
      (function () {
        const dataset = document.getElementById("main").dataset;
        const graphicWidth = Number(dataset.width);
        const rootId = dataset.rootId;
        function setSize() {
          const frameWidth = window.innerWidth;
          const resize = `${(frameWidth / graphicWidth) * 100}%`;
          const hero = document.querySelector(`#${rootId}`);
          (hero as HTMLElement).style.transform = `scale(${resize})`;
        }

        window.addEventListener("resize", function (e) {
          setSize();
        });
        setSize();
      })();
    </script>
  </body>
</html>
